* {
    box-sizing: border-box;
}

/* background image */
body{
    background-image: url(/Assets/Images/gravel.png);
    margin: 0;
    padding: 0;
}

/* header bar styling */

header{
    background-color: White;
    height: 60px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Name & Buttons */
nav {
   
    color: white;
    height: 60px;
    width: 960px;
    margin: 0 auto;
}

.name {
    padding: 15px 20px 25px 20px ;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    margin: 0 0 0 0;
    height: 60px;
    width: 200px;
    text-align: center;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* button group */
.button-grp {
    float: right;
    height: 100%;
    margin: 20px 0 0 0;
}
.btn {
    color:grey;
    font-family: Trebuchet MS;
    font-size: 16px;
    width: 100px;
    float: right;
    text-align: center;
    text-decoration: none;
  }

  .current {
    background-color: darkgray;
    color: white;
  }

  /* for the borders on the portfolio button */
  .port-btn {
      border-right: 1px solid lightgray;
      border-left: 1px solid lightgray;
  }

  /* Content section */
 article{
     width: 960px;
     margin: 100px auto;
     background-color: white;
     padding-bottom: 20px;
     overflow: hidden;
     position: relative;
     clear: both;
 }

 .Section-Title{
     height: 60px;
     border-bottom: 2px solid lightgray;
     margin: 25px;
     padding-top: 20px;
     color: #4aaaa5;
     font-family: 'Georgia', Times, Times New Roman, serif;
 }

/* About Me Page */
 #headshot {
     height: 175px;
     width: 125px;
     float: left;
     clear: right;
     margin: 0 20px 20px 25px;
 }

 #about-me {
     font-size: 16px;
     line-height: 24px;
     margin-left: 25px;
     margin-right: 25px;
 }

/* Portfolio Page */
.thumbnail {
    float: left;
    width: 30%;
    margin: 0 20px 20px 25px;
    position: relative;
    overflow: hidden;
    height: 180px;
    width: 250px;
}

.thumbnail img{
    height: 100%;
    width: 100%;
}

.row{
    width: 960px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

.thumb-title{
    background-color:rgba(74,170,165,.8);
    color: white;
    position: relative;
    width: 250px;
    height: 40px;
    text-align: center;
    padding: 10px 0;
    bottom: 60px;
}
 /* footer divs */

 .teal-div {
     background-color: #4aaaa5;
     height: 10px;
     width: 100%;
 }

 footer{
    background-color: grey;
    height: 60px;
    width: 100%;
    position: relative;
 }
 span{
     color: white;
     position: absolute;
     bottom: 15px;
     left: 50%;
 }